
body{
    background-color: rgb(64, 88, 104);
}



.scroll-section {
    opacity: 1;
    transform: translateX(3%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    padding: 50px;
    margin: 30px 0 0 10px;
    background-color: #f4f4f4;
    border: 1px solid #5e5e5e;
    display: flex;
    flex-direction: column;
    text-align:center;
    gap: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 65%;
    border-radius: 40px;
    box-shadow: 10px 10px 1px rgb(0, 0, 0);
    background-color: rgb(96, 116, 138);
}
.scroll-section2 {
    opacity: 1;
    
    transform: translateX(3%);

    transition: opacity 1s ease-out, transform 1s ease-out;
    padding: 50px;
    margin: 30px 0 0 10px;
    background-color: #f4f4f4;
    border: 1px solid #5e5e5e;
    display: flex;
    flex-direction: column;
    text-align:center;
    gap: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 65%;
    border-radius: 40px;
    box-shadow: 10px 10px 1px rgb(0, 0, 0);
    background-color: rgb(96, 116, 138);
}

.scroll-section3 {
    opacity: 1;
    transform: translateX(3%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    padding: 50px;
    margin: 30px 0 0 10px;
    /* background-color: #f4f4f4; */
    border: 1px solid #5e5e5e;
    display: flex;
    flex-direction: column;
    text-align:center;
    border-radius: 40px;
    gap: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 65%;
    box-shadow: 10px 10px 1px rgb(0, 0, 0);
    background-color: rgb(96, 116, 138);
}



.scroll-section .show {
    opacity: 1;
    transform: translateX(1);
}
.images{
    width: 100%;
    height: auto;
    display:flex ;
    align-items: center;
    justify-content:center;
}

.img2{
    width: 300px;
    height: auto;
    border-radius: 40px;
}
.image7{
    border-radius: 40px;
}
h1{
    color: rgb(187, 89, 31);
}

.quote{
    width: 80%;
    height: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    color: rgb(208, 116, 30);
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}